.form-container {
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.card-container {
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
}